html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgba(255, 250, 220, 1);
    /* background: url("bg2.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Noto Sans", sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
pre {
    font-size: 15px;
    font-family: Lucida Console, Courier, monospace;
}

p {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.emphasize {
    font-weight: bold;
}

.no_underline a {
    text-decoration: none;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.button {
    -webkit-box-align: center;
    align-items: center;
    background-color: #5A0;
    color: white;
    border: 0px;
    border-radius: 12px;
    box-shadow: rgb(220, 214, 207) 2px 2px 4px, rgb(244, 244, 242) -2px -2px 3px -1px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 56px;
    -webkit-box-pack: center;
    justify-content: center;
    outline: none;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.input_wrap {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(240, 240, 231);
    border-radius: 12px;
    box-shadow: rgb(220, 214, 207) 2px 2px 4px inset, rgb(244, 244, 242) -3px -3px 6px inset;
    display: flex;
    height: 72px;
    padding: 0px 16px;
}

.button:hover {
    background: #8E0;
}

.input {
    background: none;
    border: 0px;
    color: rgb(91, 57, 38);
    font-size: 18px;
    flex: 1 1 0%;
    height: 56px;
    margin: 0px;
    padding: 0px;
    outline: none;
}

.navbar_wrap {
    background: #380;
    color: white;
    padding: 0.5em 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}
.navbar a{
    color: white !important;
}
.bottom_bar a {
    padding:1em 0;
}

#token_boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap
}

.token_box {
    width: 45%;
}

.token_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap
}

.token_panel button {
    width: 24%;
}

#wrap {
    margin: 1em auto;
    width: 1200px;
    max-width: 95%;
}

#log {
    margin: 0 auto;
    color: #000;
}

#footer {
    clear: both;
    display: block;
    text-align: center;
    margin: 0px auto;
    position: absolute;
    bottom: 1em;
    width: 100%;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover{
    color: #f00 !important;
}

.loader {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-top: 0.5em;
}

.loader:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.livecoinwatch-widget-1 {
    margin: 0 auto !important;
}
